/* homeStyles.css */
#allproblems {
  margin: 20px;
}

table {
  width: 800px;
  height: 900px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Enable positioning for pseudo-element */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background color for the table */
  animation: popup 1s ease;
  text-align: center;
}

table::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header.th {
  border-radius: 5px;
}
th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 16px;
  border-radius: 5px;
  text-align: center;
  font-size: xx-large;
}

td {
  padding: 16px;
  text-align: center;
  font-size: xx-large;
}

td.difficulty {
  font-weight: bold;
}

td.Easy {
  color: #2ecc71;
}

td.Medium {
  color: #f39c12;
}

td.Hard {
  color: #e74c3c;
}

a {
  text-decoration: none;
  color: #59a0c1;
  transition: color 0.3s;
}

a:hover {
  color: #1c7ff0;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
