#problempage {
  min-height: 91vh;
  display: flex;
  align-items: flex-start;
}

.ques , .code {
  width: 70%;
  min-height: 65vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.ques p {
  font-size: 28px;
  margin-bottom: 10px;
}


.ques code {
  display: block;
  font-family: monospace;
  font-size: 22px; /* Adjust the font size as desired */
  margin-bottom: 10px;
}

.code-form {
  height: 70vh;
}

textarea , pre {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  -moz-tab-size : 4;
    -o-tab-size : 4;
       tab-size : 4;
}

button {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-weight: 800;
  border-radius: 0.5rem;
  cursor: pointer;
}

#test {
  background-color: gray;
}
#submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #44cd49;
  color: white;
  border: none;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
}

.desc {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 20px 20px;
  background-color: rgba(210, 207, 243, 0.8);
}

.inout {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px;
  background-color: rgba(210, 207, 243, 0.8);
  overflow-y: auto;
  max-height: 214px;
}

.desc {
  max-height: 300px; /* Set a fixed maximum height */
  overflow-y: auto;
  min-width: 200px; /* Enable vertical scrolling when content overflows */
}
